R2_SECRET_ACCESS_KEY=

BETTER_AUTH_SECRET=

GOOGLE_CLIENT_SECRET=

SMTP_PASSWORD=

TURNSTILE_SECRET_KEY=
VITE_TURNSTILE_SITE_KEY=

VITE_R2_URL=

# used for giving users extra credits. x-admin-token header must match this value to give yourself credits
# see worker/hono/routes/admin/handlers.ts
ADMIN_TOKEN=

VITE_STRIPE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=